USE [master]
GO
/****** Object:  Database [SınavOluştur]    Script Date: 5.07.2021 11:45:51 ******/
CREATE DATABASE [SınavOluştur]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SınavOluştur', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SınavOluştur.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SınavOluştur_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SınavOluştur_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SınavOluştur].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SınavOluştur]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5.07.2021 11:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 5.07.2021 11:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[questionId] [int] IDENTITY(1,1) NOT NULL,
	[testId] [int] NOT NULL,
	[question] [nvarchar](max) NOT NULL,
	[selectedFirst] [nvarchar](max) NOT NULL,
	[selectedSecond] [nvarchar](max) NOT NULL,
	[selectedThird] [nvarchar](max) NOT NULL,
	[selectedFourth] [nvarchar](max) NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[questionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 5.07.2021 11:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[testId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[userId] [int] NOT NULL,
	[key] [nvarchar](max) NOT NULL,
	[createdDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[testId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5.07.2021 11:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userId] [int] NOT NULL,
	[userName] [nvarchar](max) NOT NULL,
	[userPassword] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210704101117_InititalCreate', N'5.0.7')
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([questionId], [testId], [question], [selectedFirst], [selectedSecond], [selectedThird], [selectedFourth], [Answer], [IsDeleted]) VALUES (2, 2, N'test1', N'true', N'false', N'false', N'false', N'One', 0)
INSERT [dbo].[Questions] ([questionId], [testId], [question], [selectedFirst], [selectedSecond], [selectedThird], [selectedFourth], [Answer], [IsDeleted]) VALUES (3, 2, N'test2', N'true', N'false', N'false', N'false', N'One', 0)
INSERT [dbo].[Questions] ([questionId], [testId], [question], [selectedFirst], [selectedSecond], [selectedThird], [selectedFourth], [Answer], [IsDeleted]) VALUES (4, 2, N'test3', N'false', N'false', N'true', N'false', N'Three', 0)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
INSERT [dbo].[Users] ([userId], [userName], [userPassword], [IsDeleted]) VALUES (1, N'muhammedalitunc', N'muhammedalitunc', 0)
GO
/****** Object:  Index [IX_Questions_testId]    Script Date: 5.07.2021 11:45:51 ******/
CREATE NONCLUSTERED INDEX [IX_Questions_testId] ON [dbo].[Questions]
(
	[testId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Tests_testId] FOREIGN KEY([testId])
REFERENCES [dbo].[Tests] ([testId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Tests_testId]
GO
USE [master]
GO
