@model UserViewModel
@{ ViewData["Title"] = "Giriş"; }
@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "text-center" }))
{


<link rel="stylesheet" href="~/css/login.css" />

                <body class="main-bg">
                    <div class="login-container text-c animated flipInX" style="margin-top:-75px">
                        <div>
                            <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                        </div>
                        <h3 class="text-whitesmoke">Sınav Oluştur</h3>
                        <p class="text-whitesmoke"></p>
                        <div class="container-content">
                            <form class="margin-t">
                                <div class="form-group">
                                    <p style="color:white"> @Html.LabelFor(m => m.user.userPassword, "Kullanıcı Adı:")</p>
                                    @Html.TextBoxFor(m => m.user.userName, "text", new { @class = "form-control", @required = "" })
                                </div>
                                <div class="form-group">
                                    <p style="color:white"> @Html.LabelFor(m => m.user.userPassword, "Şifre:")</p>
                                    @Html.PasswordFor(m => m.user.userPassword, new { @class = "form-control", @required = "" })
                                </div>
                                <button type="submit" class="form-button button-l margin-b">Giriş Yap</button>

                                <a class="text-darkyellow" href="#"><small>Forgot your password?</small></a>
                                <p class="text-whitesmoke text-center"><small>Do not have an account?</small></p>
                                <a class="text-darkyellow" href="#"><small>Sign Up</small></a>
                            </form>
                            <p class="margin-t text-whitesmoke"><small> Muhammed Ali TUNÇ &copy; 2021</small> </p>
                        </div>
                    </div>
                </body>}


